#item {
    position: fixed;
    border: 1px solid #999;
    z-index: 1000;
    display: none;
    bottom:0px;
}
.head {
    padding: 5px;
    background: #eee;
    cursor: pointer;
    height:30px;   
}
.body {
    padding: 15px;
    border-top: 1px solid #999;
    display: block;
    background-color: white;
    height:100%
}
